.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #6a7efc;
}

input,
select,
.signup {
  width: 570px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #aaaaaa 1px;
}

.signup {
  background-color: #6a7efc;
  color: white;
  cursor: pointer;
}

.idbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.id {
  width: 500px;
  height: 50px;
  margin: 10px 0;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.checkbox {
  width: 60px;
  height: 50px;
  background-color: #6a7efc;
  border-radius: 5px;
  border: none;
  color: white;
}
