:root {
  --br-7xs : 10px;
  --font-size-sm : 14px;
  --color-white : #fff;
  --font-size-21xl: 18px
}
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.span {
  color:#6A7EFC;
}
.heading1Container1 {
  width: 100%;
  font-size: 28px;
}
.heading1Container {
  width: 273.1px;
  position: relative;
  letter-spacing: -0.8px;
  line-height: 40px;
  display: flex;
  align-items: center;
  height: 40px;
  flex-shrink: 0;
}
.child {
  width: 20px;
  position: relative;
  height: 20px;
  cursor: pointer;
}
.div1,
.heading1Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div1 {
  justify-content: center;
  padding: 4px 10px;
}
.heading1Parent {
  width: 1071px;
  justify-content: flex-end;
  gap: 0 388px;
}
.b,
.linkIcon {
  position: absolute;
  top: 0;
}
.linkIcon {
  height: 100%;
  width: calc(100% - 896px);
  right: 871px;
  bottom: 0;
  left: 25px;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(70%);
}
.b {
  left: 0;
  line-height: 18px;
  color: white;

}
.link {
  width: calc(100% - 936px);
  top: 249px;
  right: 891px;
  left: 45px;
  height: 19px;
  overflow: hidden;
}
.div2,
.link,
.link1 {
  position: absolute;
}
.div2 {
  top: 0;
  left: 0;
  line-height: 14px;
  font-weight: 500;
  color: white;
}
.link1 {
  top: calc(50% + 109px);
  left: 45px;
  width: 64px;
  height: 14px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.linkIcon1 {
  height: 100%;
  width: calc(100% - 896px);
  top: 0;
  right: 589px;
  bottom: 0;
  left: 307px;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.b1,
.link2,
.linkIcon1 {
  position: absolute;
}
.b1 {
  top: 0;
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 136.9px;
  height: 18px;
  color: white;
}
.link2 {
  width: calc(100% - 936px);
  top: 249px;
  right: 609px;
  left: 327px;
  height: 19px;
  overflow: hidden;
}
.div3,
.link3 {
  position: absolute;
  height: 14px;
}
.div3 {
  top: 0;
  left: 0;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 64.4px;
  color: white;
}
.link3 {
  top: calc(50% + 109px);
  left: 327px;
  width: 64px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.b2,
.linkIcon2 {
  position: absolute;
  top: 0;
}
.linkIcon2 {
  height: 100%;
  width: calc(100% - 896px);
  right: 307px;
  bottom: 0;
  left: 589px;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.b2 {
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 115.6px;
  height: 18px;
  color: white;
}
.link4,
.link5 {
  position: absolute;
  left: 609px;
  overflow: hidden;
}
.link4 {
  width: calc(100% - 936px);
  top: 249px;
  right: 327px;
  height: 19px;
}
.link5 {
  top: calc(50% + 111px);
  width: 64px;
  height: 14px;
  font-size: var(--font-size-sm);
}
.b3,
.linkIcon3 {
  position: absolute;
  top: 0;
}
.linkIcon3 {
  height: 100%;
  width: calc(100% - 896px);
  right: 25px;
  bottom: 0;
  left: 871px;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.b3 {
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  color: white;
}
.link6 {
  width: calc(100% - 936px);
  top: 249px;
  right: 45px;
  left: 891px;
  height: 19px;
  overflow: hidden;
}
.before,
.link6,
.link7 {
  position: absolute;
}
.link7 {
  top: calc(50% + 111px);
  left: 891px;
  width: 64px;
  height: 14px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.before {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  /* background-color:red; */
  width: 25px;
}
.after,
.buttonNextSlide {
  position: absolute;
  right: 0;
}
.before,
.buttonNextSlideLeft {
  position: absolute;
  left: 0;
  z-index: 10;
}
.after {
  height: 100%;
  top: 0;
  bottom: 0;
  /* background-color: blue; */
  width: 25px;
}
.buttonNextSlide {
  height: 14.97%;
  top: 42.51%;
  bottom: 42.51%;
  max-height: 100%;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}
.buttonNextSlideLeft {
  height: 14.97%;
  top: 42.51%;
  bottom: 42.51%;
  max-height: 100%;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
}
.divswiper {
  width: 1150px;
  position: relative;
  height: 334px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: white;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  gap: 60px 0;
}
.b4,
.linkIcon4 {
  position: absolute;
  top: 0;
}
.linkIcon4 {
  height: 100%;
  width: calc(100% - 896px);
  right: 871px;
  bottom: 0;
  left: 25px;
  border-radius: var(--br-7xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}
.b4 {
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 214px;
  height: 18px;
  color: white;
}
.link9 {
  top: calc(50% + 111px);
  left: 45px;
  width: 64px;
  height: 14px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.b5,
.link11,
.link9 {
  position: absolute;
}
.b5 {
  top: 0;
  left: 0;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 153.5px;
  height: 18px;
  color: white;
}
.link11 {
  top: calc(50% + 111px);
  left: 327px;
  width: 64px;
  height: 14px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.sectionParent {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 120px 0;
}
.div,
.main1,
.sectionParent {
  position: absolute;
}
.div {
  top: 750px;
  left: 380px;
  width: 1160px;
  height: 1542px;
}
.main1 {
  top: 0;
  left: calc(50% - 961px);
  width: 100%;
  
}
.main {
  width: 100%;
  height: 1780px;
  background-color: var(--color-white);
  /* height: 2855px; */
  text-align: center;
  font-size: var(--font-size-21xl);
  /* font-family: var(--font-noto-sans-kr); */
}
.main:hover {
  animation: 1s ease-out 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
